PORT=3000
APP_HOST=http://localhost

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=raizes

DATABASE_URL=postgres://postgres:postgres@localhost:5432/raizes

JWT_SECRET=supersecret